{{!Citation for the following file
Date: 11/02/2025
Copied from Exploration - Web Application Technology Module 6 CS340
https://canvas.oregonstate.edu/courses/2017561/pages/exploration-web-application-technology-2?module_item_id=25645131}}

<h1>Home page</h1>
<div class="homepageDescription">
    <p>Group Number 72</p>
    <p>Kyle Norris</p>
    <p>Thomas Bui</p>
    <p class="homepageHighlight">Here you can find information on the various shows performed at The Local Stage. 
        All pages feature READ operations and the Skit Actors page has full CRUD.</p>
</div>